# Исключить временные файлы создаваемые системой
*~tmp
*.log
*logs*
*migrations*

# Исключить папки
__pycashe__/
.venv/
node_modules/
allure-results/

# Исключить файлы с кредами
poetry.lock

# Игнорируем скрытые файлы
.*
