# Исключить временные файлы создаваемые системой
*~tmp
*.log

# Исключить папки
__pycashe__/
.venv/
node_modules/
migrations/
allure-results/

# Исключить файлы с кредами
poetry.lock

# Игнорируем скрытые файлы
.*
