<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Здесь указываем ссылку на CSS -->
    <link href="{{ url_for('static', filename='css/tailwind.min.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body class="flex h-screen bg-gray-100">
    <!-- Навигационная панель -->
    <nav class="w-64 bg-gray-800 text-white p-5">
        <div class="text-lg font-semibold mb-8">
            <a href="/">testops</a>
        </div>

        <ul>
            <!-- Кнопки -->
            <li>
                <a href="/reports" class="mt-5 block w-full bg-blue-500 p-2 rounded text-center text-white">
                    Список отчётов
                </a>
            </li>
        </ul>
    </nav>

    <!-- Этот блок будет изменяться на других страницах -->
    {% block main %}{% endblock %}
</body>

</html>
