<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="{{ url_for('static', filename='css/tailwind.min.css') }}" rel="stylesheet">
  {% block head %}{% endblock %}
</head>

<body class="min-h-screen bg-gray-100 antialiased text-gray-900">

  <!-- HEADER -->
  <header class="w-full bg-gray-800 border-b">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-center h-16">
        <!-- Левый: логотип / название -->
        <div class="flex items-center gap-4">
          <a href="{{ url_for('routes.home') }}" class="text-xl font-semibold text-white hover:text-gray-200">TestOps</a>

          <!-- Навигация (видна на >= sm) -->
          <nav class="hidden sm:flex items-center gap-2">
            <a href="{{ url_for('routes.test_cases_page') }}" class="px-3 py-1 rounded text-sm font-medium text-white hover:bg-blue-500">Тест кейсы</a>
            <a href="{{ url_for('routes.get_reports') }}" class="px-3 py-1 rounded text-sm font-medium text-white hover:bg-blue-500">Отчёты</a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <main class="{% block main_container_class %}max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6{% endblock %}">
    {% block main %}{% endblock %}
  </main>

  {% block scripts %}{% endblock %}
</body>

</html>
